<nav>
    <ul>
        {% url 'home' as Home %} 
        {% url 'register' as Register %} 
        {% url 'login' as Login %}

        <li>
            <a class="" {% if request.path == 'home' %} class="active" {% endif %} href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a class="" {% if request.path == 'register' %} class="active" {% endif %} href="{% url 'register' %}">Register</a></li>

        <li>
            <a class="" {% if request.path == 'login' %} class="active" {% endif %} href="{% url 'login' %}">Login</a></li>
    </ul>
</nav>